@page
@using DbFirst.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach(var item in ViewData["Articles"] as List<Article>)
{
    <div class="row">
    <div class="col-3">@item.Id</div>
    <div class="col-3">@item.Title</div>
    <div class="col-3">@item.Text</div>
    <div class="col-3">@item.Createdon</div>
    </div>
}
