@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="/Home/Divide" method="post">
        <input style="width:50px" type="number" id="val1" name="val1"/> /
        <input style="width:50px" type="number" id="val2" name="val2"/>
        <input type="submit" />
    </form>

    <p>@TempData["CalcResult"]</p>
</div>
